<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="https://cdn.pixabay.com/photo/2018/04/20/09/49/sky-3335585__340.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="https://cdn.pixabay.com/photo/2018/10/09/06/21/moe-3734190__340.png">
    </div>
    
    {{>footer}}
</body>
</html>